body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #2f4f4f;
    background-color: #f5f5dc;
    width: 96%;
}

/* for making boxes visible at testing
div {
    border: 1px dotted red;
}
*/

/* .themeSelector {
    background-color: #9cd5d7;
} */

a,
a:active,
a:link,
a:visited {
    font-family: cursive;
    text-decoration: none;
    color: #2f4f4f;
}

.menu a,
.themeSelector {
    border: 1px solid #808080;
    border-radius: 16px;
    background-color: #9cd5d7;
    padding: 5px 10px;
    margin: 2px;
}

.menu a:hover,
.themeSelector:hover {
    background-color: #699091;
    color: #eee;
    padding: 8px 10px;
}

.menu {
    margin: 8px 0;
}

img {
    width: 400px;
    /* height: 200px; */
}

.card {
    display: flex;
    justify-content: space-between;
}

.card div:nth-of-type(1) {
    flex: 3 400px;
}

.card div:nth-of-type(2) {
    flex: 1 50px;
}

.card div:nth-of-type(3) {
    flex: 2 300px;
}

.summary,
.ingredients {
    /* display: block; */
    margin: 0;
    padding: 0;
    /* max-width: "200px"; */
}

.ingredients {
    max-width: 50%;
    margin-left: 0;
} */

/*h1, h2 {
    color: #800080;
}
*/
.ingredients h4,
.steps h4 {
    color: #8b0000;
}

ul {
    border: 1px solid #2f4f4f;
    border-radius: 7px;
    background-color: #eee;
    color: #2f4f4f;
    display: inline-block;
    padding: 16px 16px 16px 32px;
}

li {
    margin: 8px 0;
}

.steps {
    margin: 0 auto;
}

footer {
    color: #a9a9a9;
    font-size: 12px;
    margin-bottom: 20px;
}

footer:hover {
    color: #7b1d1d;
}
